.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style : normal;
    background-color: #F7F7F7;
  }


/* Heading Part */


.first-bg{
    margin: auto;
    background-color: #F7F7F7; 
}
  header img{
    width: 62px;
    height: 62px;
  }
.nav-main{
    display: flex;
    justify-content: space-around;
}
.nav-1{          
    display: flex;
    font-size: 32px;
    font-weight: bold;
    gap: 10px;
    align-items: center;
}
.nav-2{
    display: flex;
    gap: 32px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}
.btn-1{
    font-size: 20px;
    font-weight: 600 ;
    color: white;
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 200px;
    padding: 10px;
    background-color: orange;
    margin-top: 25px;
}
.orange{
 color: orange;
}
.sky{
    color: skyblue;
}
.blue{
    color: blue;
}
.purp{
    color: purple;
}
.second-bg{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 180px;
    gap: 200px;
}

.kid{
    width: 468px;
    height: 575px;
}
.Empowering{
    font-size: 56px;
    font-weight: bold;
}
.em{
    margin-top: 65px;
}
.reg{
    font-size: 20px;
    font-weight: 400;
}
.btn-2{
    font-size: 20px;
    font-weight: 600 ;
    color: white;
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 200px;
    padding: 10px;
    background-color: black;
}


/* Main Part */
/* Standard Curriculum */


.third-bg{
    background-color: #F7F7F7;
    margin-top: 10px;
    padding: 10px 180px;
    background-image: url(../assets/bg.png);
}
.stn{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
}
.class-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.class-1{
    background: linear-gradient(#DEF5FF 10% , white 50%);
    padding: 70px 30px;
    border-radius: 18px;
    text-align: center;
    border: 2px solid #DEF5FF;
}
.class-2{
    background: linear-gradient(#FFF4DC 10%, white 50%);
    padding: 70px 30px;
    border-radius: 18px;
    text-align: center;
    border: 2px solid #FFF4dc;
}
.class-3{
    background: linear-gradient(#F2E8FF 10%, white 50%);
    padding: 70px 30px;
    border-radius: 18px;
    text-align: center;
    border: 2px solid #F2E8FF
}
.btn-circle{
    text-align: center;
}
.ar-1{
    background-color: orange;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 100%;
}
.size{
    font-size: 15px;
    font-weight: bold;
}


/* Our Stories */